{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


  <div class="row justify-content-center">
  <form method="POST">
  
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {% csrf_token %}
      
      {% if msg %}
        
            
                <div class="alert alert-danger">
                    <strong>{{ msg|escape }}</strong>
                </div>  
    {% endif %}
      {{form|crispy}}
    </fieldset>
    <div class="form-group" align="center" >
      <button href="" class="btn btn-outline-info" class="row justify-content-center" type="submit">
        Sign In
      </button>
    </div>
  </form>
</div>
</div>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'signup' %}">Create an Account</a>
    </small>
    <br> 
    <small class="text-muted">Lost your passwords?
      <a class="ml-2" href="{% url 'reset' %}">Reset passwords</a>
    </small>
  </div>

 
{% endblock %}
