{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}

{% if messages %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  {% for message in messages %}
    <strong> <i>{{ message }}</i> </strong>
    <br>
  {% endfor %}
</div>
{% endif %}


<div class="container">
<h3>Enrolled classes</h3>

<table class="table table-striped table-bordered table-hover table-dark">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Instructor</th>
    </tr>
  </thead>
  <tbody>
    {% for course in cr %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{course.course_name}}</td>
        <td>{{course.Instructor_email}}</td>
        <td><a href="/processDropClass/{{course.id}}"><i class="fa fa-trash fa-2x"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

        <script>
            // Get all elements with class="closebtn"
            var close = document.getElementsByClassName("closebtn");
            var i;
            
            // Loop through all close buttons
            for (i = 0; i < close.length; i++) {
              // When someone clicks on a close button
              close[i].onclick = function(){
            
                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;
            
                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";
            
                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function(){ div.style.display = "none"; }, 600);
              }
            }
            </script>
   
</div>

 
{% endblock %}