{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}

<div class="container">
    
    <h3>Enrollment Cart</h3>
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
        
            {% if messages %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                
              
                {% for message in messages %}
                  <strong> {{ message }} </strong>
                {% endfor %}
                
               
              </div>
              {% endif %}
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Enrolled Numbers</th>
                <th scope="col">Start Time</th>
                <th scope="col">Endtime</th>
                <th scope="col">Meeting Date</th>
                <th scope="col">Instructor</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for course, cart  in all_data %}
                <th scope="row">{{forloop.counter}}</th>
               
                <td>{{course.name}}</td>
                <td>{{course.max_size}}</td>
                <td>{{course.curr_size}}</td>
               
                <td>{{course.start_time}}</td>
                <td>{{course.end_time}}</td>
                <td>{{course.meeting_date}}</td>
                <td>{{course.instructor}}</td>
                
             
          
                
                
                <td><a  href= "{% url 'deletenrollemt' cart.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
               
         
            </tr>
            {% endfor %}
        </tbody>

        </table>
        <form method="POST">
        
        
          <div class="form-group" method="POST" style="position: absolute; right: 0;">
            {% csrf_token %}
            <a href="{% url 'enrollpage' %}" class="btn btn-outline-info" class="row justify-content-center" type="submit">Enroll</a>
          </div>
         
          <span class="form-group" method="POST" align="left" >
           
            <a href="{% url 'deleteAll' %}" class="btn btn-outline-info" class="row justify-content-center" type="submit">Clear</a>
          </apan>
          
        </form>
        <script>
            // Get all elements with class="closebtn"
            var close = document.getElementsByClassName("closebtn");
            var i;
            
            // Loop through all close buttons
            for (i = 0; i < close.length; i++) {
              // When someone clicks on a close button
              close[i].onclick = function(){
            
                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;
            
                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";
            
                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function(){ div.style.display = "none"; }, 600);
              }
            }
            </script>
   
</div>

 
{% endblock %}