{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}

{% if messages %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  {% for message in messages %}
    <strong> <i>{{ message }}</i> </strong>
    <br>
  {% endfor %}
</div>
{% endif %}

<div class="row justify-content-center">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Rate a class</legend>
      {{form|crispy}}
    </fieldset>

    <div class="form-group">
      <button href="" class="btn btn-outline-info" class="row justify-content-center" type="submit">
        Submit
      </button>
    </div>
  </form>

  <script>
    // Get all elements with class="closebtn"
    var close = document.getElementsByClassName("closebtn");
    var i;
    
    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
      // When someone clicks on a close button
      close[i].onclick = function(){
    
        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;
    
        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";
    
        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
  </script>
</div>
 
{% endblock %}