{% extends 'student/studentBase.html' %}

{% block usercontent %}

<h4>Welcome {{s.first_name}} {{s.last_name}}!</h4>

<p>ID: {{s.ID}}</p>
<p>Email: {{s.email}}</p>
<p>GPA: {{s.GPA}}</p>
<p>Credit: {{s.credit}}</p>
<p>Warning Total: {{s.warning}}</p>

<p>
	Current Status (Active / Inactive): 
	{% if s.is_suspended == False %}
		Active
	{% else %}
		Inactive (Suspended)
	{% endif %}
</p>

{% if s.fine == 1 %}
<p>TODO: Pay a fine to the registrar. (See details below)</p>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show details
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    You have accumulated 3 warnings and will be suspended for one semester. You need to pay a fine of one hundred dollars to the registrars. You can pay it either by mail or in person. The registrar office is at 123 NEW ROAD, NEW YORK, NY, 10019, ROOM 100. If you have any questions, please call at 212-1234-5678.
  </div>
</div>
{% endif %}

{% endblock %}