{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}

    

  <div class="mySlides">
    <div class="numbertext">1 / 8</div>
      <img src="/static/images/welcome.png" style="width:75%">
  </div>

    <br/> <br/>

  <div class="mySlides">
    <div class="numbertext">2 / 8</div>
      <img src="/static/images/personal_page.png" style="width:75%">
  </div>

      <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">3 / 8</div>
      <img src="/static/images/available_class.png" style="width:75%">
  </div>

      <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">4 / 8</div>
      <img src="/static/images/enrollment_cart.png" style="width:75%">
  </div>

      <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">5 / 8</div>
      <img src="/static/images/drop_class.png" style="width:75%">
  </div>


  <br/> <br/>

  <div class="mySlides">
    <div class="numbertext">6 / 8</div>
      <img src="/static/images/rate_class.png" style="width:75%">
  </div>

  <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">7 / 8</div>
      <img src="/static/images/file_complaint.png" style="width:75%">
  </div>

    <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">8 / 8</div>
      <img src="/static/images/apply_graduation.png" style="width:75%">
  </div>




 
{% endblock %}