{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-green">
  <h1>Tutorial</h1> 
</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <h2>Instructor Page</h2>
    <p>Instructor page tutorial here</p>
  </div>

  <div class="w3-third">
    <h2>Student Page</h2>
    <p>Student page tutorial here</p> 
  </div>

  <div class="w3-third">
    <h2>Registrar Page</h2>
    <p>Registrar page tutorial here</p>
  </div>
</div>

</body>
 
{% endblock %}