{% extends 'student/studentBase.html' %}

{% load crispy_forms_tags %}

{% block usercontent %}

    

  <div class="mySlides">
    <div class="numbertext">1 / 4</div>
      <img src="/static/images/welcome.png" style="width:75%">
  </div>

  <br/> <br/>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
      <img src="/static/images/personal_page.png" style="width:75%">
  </div>

  <br/> <br/>

  <div class="mySlides">
    <div class="numbertext">3 / 4</div>
      <img src="/static/images/rate_class.png" style="width:75%">
  </div>

  <br/> <br/>
  
  <div class="mySlides">
    <div class="numbertext">4 / 4</div>
      <img src="/static/images/file_complaint.png" style="width:75%">
  </div>



 
{% endblock %}