{% extends 'main/userbase.html' %}

{% block sidenav %}

<div class="card" style="overflow:scroll; height:400px;" >
 
  	<nav class="nav flex-column" >
	    <a class="nav-link" href="/registrarView">Personal Page</a>
		  <a class="nav-link" href="/viewNewUser">View new user applications</a>
		  <a class="nav-link" href="/viewGrad">View graduation applications</a>
		  <a class="nav-link" href="/honorlist">View Honor Students</a>
		  <a class="nav-link" href="/viewRating">View class ratings</a>
		  <a class="nav-link" href="/suspeciousactivity">View innormal activity</a>
		  <a class="nav-link" href="/periodsetup">Set up time period</a>
		  <a class="nav-link" href="/setClass">Set up classes</a>
		  <a class="nav-link" href="/manageComplaint">Manage complaints</a>
		  <a class="nav-link" href="/manageSuspension">Manage suspensions</a>
		  <a class="nav-link" href="/tabooList">Taboo List</a>
		</nav>
</div>

{% endblock %}