{% extends 'registrar/registrarBase.html' %}

{% block usercontent %}

<p>set up time period for the semster</p>
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start"
       value="2021-08-25"
       min="2021-01-01" max="2021-12-31">

<label for="end">End date:</label>

<input type="date" id="start" name="trip-start"
       value="2021-12-13"
       min="2021-01-01" max="2021-12-31">
       
<p>View Classes 
	<br>list student register less than 2 classes
	<br>list classes with less 5 students
</p>

<p>Manage Students
	<br>order a warning
	<br>order a special registration
</p>


<p>Manage Instructors
	<br>order a warning
	<br>order a suspended
	<br>order a cannot teach next semster
</p>



{% endblock %}