{% extends 'main/base.html' %}

{% block sidenav %}

<div class="card" style="width: 12rem;">
  <div class="card-body">
    <h5 class="card-title">Self Services</h5>
	    <nav class="nav flex-column">
	      <a class="nav-link" href="/instructorView">Personal Page</a>
		  <a class="nav-link" href="/accessCourse">Access courses</a>
		  <a class="nav-link" href="/viewWaitlist">View wait-list</a>
		  <a class="nav-link" href="/assignGrade">Assign grades</a>
		  <a class="nav-link" href="/complaintStudent">File a complaint</a>
		</nav>
  </div>
</div>

{% endblock %}