{% extends 'instructor/instructorBase.html' %}

{% block usercontent %}

<h4>Welcome {{i.first_name}} {{i.last_name}}!</h4>
<p>Current Period: {{p}}</p>
<p>ID: {{i.ID}}</p>
<p>Email: {{i.email}}</p>
<p>Warning Total: {{i.warning}}</p>

<p>
	Current Status (Active / Inactive): 
	{% if i.is_suspanded == False %}
		Active
	{% else %}
		Inactive (Reason: You have been suspended by the registrar for one semester)
	{% endif %}
</p>

<h4>Student information in your current class(es)</h4>
<br/>

{% for student in student_list %}

<div class="card">

  <div class="card-header">
  <h4>{{ student.first_name }} {{ student.last_name }}</h4>
  </div>

  <div class="card-body">
  
  <p class="card-text">	
		<ul>
			<li><strong>Studenr ID:</strong> {{ student.id }}</li>
			<li><strong>Email:</strong> {{ student.email }}</li>
			<li><strong>GPA:</strong> {{ student.Gpa }}</li>
		</ul>
  </p>

  </div>
</div>

<br/>
{% endfor %}


{% endblock %}